In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta
from sqlalchemy import create_engine

path = "app/ref"

file1 = path + r"/DataSync - Apontamento.txt"
file2 = path + r"/DataSync - Ordem de produção.txt"

In [2]:
df_entry = pd.read_csv(file1, header=None, low_memory=False, dtype=str)
df_budget = pd.read_csv(file2, encoding="latin-1", delimiter="\t", header=None, low_memory=False, dtype=str)

df_entry

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0437366,040001,040001201,001,034,Nilpeter,Acerto,0148,Antony,15.550,26/01/2024-06:07,26/01/2024-06:27,"0,33",0,0,NaN,"482,64","159,27"
1,0437374,040001,034.240126,001,034,Nilpeter,Ocioso,0148,Antony,0,26/01/2024-06:27,26/01/2024-06:43,"0,27",0,0,60,"482,64","130,31"
2,0437376,040001,040001201,002,034,Nilpeter,Acerto,0148,Antony,15.550,26/01/2024-06:43,26/01/2024-08:16,"1,55",0,0,NaN,"482,64","748,09"
3,0437392,040001,034.240126,002,034,Nilpeter,Ocioso,0148,Antony,0,26/01/2024-08:16,26/01/2024-11:48,"3,53",0,0,58,"482,64","1.703,72"
4,0437418,040001,040001201,003,034,Nilpeter,Acerto,0148,Antony,15.550,26/01/2024-11:48,26/01/2024-12:00,"0,20",0,0,NaN,"482,64","96,53"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29216,0468108,042326,042326201,002,019,Gallus,Acerto,0046,Luiz Gustavo,1.650,12/09/2024-08:42,12/09/2024-10:31,"1,82",0,0,NaN,"985,88","1.794,30"
29217,0468118,042326,019.240912,002,019,Gallus,Ocioso,0046,Luiz Gustavo,0,12/09/2024-10:31,12/09/2024-11:13,"0,70",0,0,04,"985,88","690,12"
29218,0468121,042326,042326201,003,019,Gallus,Produção,0046,Luiz Gustavo,1.650,12/09/2024-11:13,12/09/2024-11:49,"0,60",2.000,3.334,NaN,"985,88","591,53"
29219,0468125,042327,042327201,001,019,Gallus,Acerto,0046,Luiz Gustavo,1.650,12/09/2024-11:49,12/09/2024-13:25,"1,60",0,0,NaN,"985,88","1.577,41"
29220,0468136,042327,042327201,002,019,Gallus,Produção,0046,Luiz Gustavo,1.650,12/09/2024-13:25,12/09/2024-13:44,"0,32",2.000,6.250,NaN,"985,88","315,48"

In [4]:
df_entry.columns = [
    'ID do Apontamento',
    'Numero da OS',
    'Numero da Etapa',
    'Numero do Apontamento',
    'Numero do Equipamento',
    'Nome do Equipamento',
    'Tipo de Apontamento',
    'Numero do Funcionário',
    'Nome do Funcionário',
    'Quantidade Prevista',
    'Inicio',
    'Fim',
    'Tempo Gasto',
    'Quantidade Produzida',
    'Produção Média',
    'Código de Parada de Maquina',
    'Custo Hora',
    'Custo Total',
]

regex = r'^\d{6}[A-Za-z]?$'

# Mount the entry table
df_entry.dropna(subset=['Numero da OS', 'Numero do Equipamento'], inplace=True)
df_entry[['Inicio', 'Fim']] = df_entry[['Inicio', 'Fim']].apply(pd.to_datetime, format='%d/%m/%Y-%H:%M', errors='coerce')
df_entry['Tempo Gasto'] = df_entry['Tempo Gasto'].str.replace(',', '.').astype('float64')
df_entry['Custo Hora'] = df_entry['Custo Hora'].str.replace(',', '.').astype('float64')
df_entry['Custo Total'] = df_entry['Custo Total'].str.replace('.', '').str.replace(',', '.').astype('float64')
df_entry['Quantidade Produzida'] = df_entry['Quantidade Produzida'].str.replace('.', '').astype('Int64')
df_entry['Quantidade Prevista'] = df_entry['Quantidade Prevista'].astype(str)
df_entry['Quantidade Prevista'] = df_entry['Quantidade Prevista'].str.replace('.', '', regex=False).str.replace(',', '.', regex=False)
df_entry['Quantidade Prevista'] = df_entry['Quantidade Prevista'].astype(float).astype('Int64')
df_entry['Produção Média'] = pd.to_numeric(df_entry['Produção Média'].str.replace('.', ''), errors='coerce')
df_entry['Produção Média'] = df_entry['Produção Média'].astype('Int64')
df_entry['Numero da Etapa'] = df_entry['Numero da Etapa'].str[-3:]
df_entry['Numero da Etapa'] = pd.to_numeric(df_entry['Numero da Etapa'], errors='coerce').fillna(0)
df_entry['Numero da Etapa'] = df_entry['Numero da Etapa'].astype('Int64')
df_entry['Quantidade Prevista Max'] = df_entry.groupby('Numero da OS')['Quantidade Prevista'].transform('max')
df_entry = df_entry[df_entry['Numero da OS'].str.match(regex)]

# Mount the budget table
df_budget.columns = ['Numero da OS', 'Numero da Etapa', 'Tipo de Etapa', 'Descrição', 'Tipo de OS',
                     'Código da Maquina',
                     'Custo por Unidade', 'Acerto Previsto', 'Numero de Entradas', 'Produção Prevista',
                     'Acerto Efetivo',
                     'Produção Efetiva', 'Unidade de Medida', 'Custo Total', 'Impressões', 'Horas no PCP',
                     'Numero da Faca', 'Numero do Equipamento PCP', 'Status no PCP', 'Ordem',
                     'Porcentagem Realizada', 'Quantidade Impressa', 'Inicio', 'Inicio Calculado', 'Fim Calculado',
                     'Data de Termino', 'Código de Parada', 'Custo Orçado']

df_budget['Custo por Unidade'] = df_budget['Custo por Unidade'].str.replace('.', '').str.replace(',', '.').astype(
    'float64')
df_budget['Acerto Previsto'] = df_budget['Acerto Previsto'].str.replace(',', '.').astype('float64')
df_budget['Produção Prevista'] = df_budget['Produção Prevista'].str.replace('.', '').str.replace(',', '.').astype(
    'float64')
df_budget['Acerto Efetivo'] = df_budget['Acerto Efetivo'].str.replace(',', '.').astype('float64')
df_budget['Produção Efetiva'] = df_budget['Produção Efetiva'].str.replace(',', '.').astype('float64')
df_budget['Custo Total'] = df_budget['Custo Total'].str.replace('.', '').str.replace(',', '.').astype('float64')
df_budget['Horas no PCP'] = df_budget['Horas no PCP'].str.replace(',', '.').astype('float64')
df_budget['Quantidade Impressa'] = df_budget['Quantidade Impressa'].str.replace('.', '').str.replace(',',
                                                                                                     '.').astype(
    'float64')
df_budget['Numero da Etapa'] = df_budget['Numero da Etapa'].astype('Int64')
df_budget[['Inicio', 'Inicio Calculado', 'Fim Calculado', 'Data de Termino']] = df_budget[
    ['Inicio', 'Inicio Calculado', 'Fim Calculado', 'Data de Termino']].apply(pd.to_datetime, format='%d/%m/%Y',
                                                                              errors='coerce')
df_budget['Custo Orçado'] = df_budget['Custo Orçado'].str.replace('.', '').str.replace(',', '.').astype('float64')
df_budget = df_budget[df_budget['Numero da OS'].str.match(regex)]

# Mount the logic of Gold Hour report
df_entry_necessary = df_entry.drop(
    columns=['ID do Apontamento', 'Numero do Apontamento', 'Numero do Funcionário', 'Produção Média',
             'Código de Parada de Maquina', 'Custo Hora', 'Custo Total'])
df_entry_necessary = df_entry_necessary[df_entry_necessary['Tipo de Apontamento'] != 'Ocioso']
df_entry_press = df_entry_necessary[df_entry_necessary['Numero da Etapa'] == 201]
df_budget_completed = df_budget[df_budget['Status no PCP'] == 'Concluído']
df_budget_completed = df_budget_completed.drop(
    columns=['Tipo de Etapa', 'Descrição', 'Tipo de OS', 'Custo por Unidade', 'Numero de Entradas',
             'Acerto Efetivo',
             'Produção Efetiva', 'Unidade de Medida', 'Custo Total', 'Impressões', 'Horas no PCP', 'Numero da Faca',
             'Numero do Equipamento PCP', 'Ordem', 'Porcentagem Realizada', 'Quantidade Impressa', 'Inicio',
             'Inicio Calculado', 'Fim Calculado', 'Data de Termino', 'Código de Parada', 'Custo Orçado'])
df_budget_press = df_budget_completed[df_budget_completed['Numero da Etapa'] == 201]

# Mount the Gold Hour Table of press
df_gold_hour_press = pd.merge(df_entry_press, df_budget_press, on='Numero da OS')

# Role of separate "Tipo de Apontamento"
df_gold_hour_press['Acerto Realizado'] = df_gold_hour_press.apply(
    lambda row: row['Tempo Gasto'] if row['Tipo de Apontamento'] == 'Acerto' else 0, axis=1)
df_gold_hour_press['Produção Realizada'] = df_gold_hour_press.apply(
    lambda row: row['Tempo Gasto'] if row['Tipo de Apontamento'] == 'Produção' else 0, axis=1)
df_gold_hour_press = df_gold_hour_press.drop(columns=['Tempo Gasto', 'Tipo de Apontamento'])

# Sum of same OSs
df_gold_hour_press['Data para Calculo'] = df_gold_hour_press['Fim'].dt.date

df_gold_hour_press = df_gold_hour_press.groupby(['Numero da OS', 'Nome do Funcionário', 'Data para Calculo'],
                                                as_index=False).agg({
    'Nome do Equipamento': 'first',
    'Inicio': 'max',
    'Fim': 'max',
    'Acerto Previsto': 'max',
    'Produção Prevista': 'max',
    'Quantidade Prevista Max': 'max',
    'Quantidade Produzida': 'max',
    'Acerto Realizado': 'sum',
    'Produção Realizada': 'sum',
})
df_gold_hour_press = df_gold_hour_press.drop(columns=['Data para Calculo'])

# Totally of production
df_gold_hour_press['Quantidade Produzida Max'] = df_gold_hour_press.groupby('Numero da OS')[
    'Quantidade Produzida'].transform('sum')

# Totally of production more 10 percent
df_gold_hour_press['Quantidade Produzida 10%'] = df_gold_hour_press.apply(
    lambda x: min(x['Quantidade Produzida Max'], x['Quantidade Prevista Max'] * 1.10), axis=1)

# Actual quantity based of production
df_gold_hour_press['Produção Prevista Real'] = (df_gold_hour_press['Quantidade Produzida 10%'] * df_gold_hour_press[
    'Produção Prevista']) / df_gold_hour_press['Quantidade Prevista Max']

# Mount the auxiliary table of realized
df_gold_hour_press['Contagem de OS'] = df_gold_hour_press.groupby('Numero da OS')['Numero da OS'].transform('count')
sum_of_setup = df_gold_hour_press.groupby('Numero da OS')['Acerto Realizado'].transform('sum')
sum_of_press = df_gold_hour_press.groupby('Numero da OS')['Produção Realizada'].transform('sum')

# Calc of Gold Hours
df_gold_hour_press['Hora Ouro do Acerto'] = np.where(df_gold_hour_press['Contagem de OS'] < 2,
                                                     df_gold_hour_press['Acerto Previsto'],
                                                     (df_gold_hour_press['Acerto Previsto'] / sum_of_setup) *
                                                     df_gold_hour_press['Acerto Realizado'])

df_gold_hour_press['Hora Ouro da Produção'] = np.where(df_gold_hour_press['Contagem de OS'] < 2,
                                                       df_gold_hour_press['Produção Prevista Real'],
                                                       (df_gold_hour_press[
                                                            'Produção Prevista Real'] / sum_of_press) *
                                                       df_gold_hour_press['Produção Realizada'])

# Clear the trash values
df_gold_hour_press.replace([float('inf'), float('-inf'), pd.NA], 0.0, inplace=True)
df_gold_hour_press = df_gold_hour_press.round(decimals=3)
df_gold_hour_press = df_gold_hour_press.drop(columns=['Contagem de OS'])

# Totally of Gold Hours
df_gold_hour_press['Hora Ouro Total'] = df_gold_hour_press['Hora Ouro do Acerto'].fillna(0) + df_gold_hour_press[
    'Hora Ouro da Produção'].fillna(0)


# Role of round
def ajustar_data(data_fim):
    if pd.isnull(data_fim):
        return pd.NaT
    if data_fim.time() < pd.Timestamp('6:35').time():
        return (data_fim - timedelta(days=1)).date()
    else:
        return data_fim.date()

        # Definition to end day


df_gold_hour_press['Data de Conclusão'] = df_gold_hour_press['Fim'].apply(ajustar_data)

# Clear null values
df_gold_hour_press = df_gold_hour_press[df_gold_hour_press['Quantidade Produzida Max'] > 0]

# Mount the aggregate table
df_aggregate = df_gold_hour_press.drop(columns=['Numero da OS', 'Inicio', 'Fim'])
df_aggregate = df_gold_hour_press.groupby(['Nome do Funcionário', 'Data de Conclusão', 'Nome do Equipamento']).agg({
    'Acerto Previsto': 'max',
    'Acerto Realizado': 'sum',
    'Produção Prevista': 'max',
    'Produção Prevista Real': 'sum',
    'Produção Realizada': 'sum',
    'Quantidade Prevista Max': 'max',
    'Quantidade Produzida': 'sum',
    'Quantidade Produzida 10%': 'sum',
    'Hora Ouro da Produção': 'sum',
    'Hora Ouro do Acerto': 'sum',
    'Hora Ouro Total': 'sum',
}).reset_index()

df_aggregate

ValueError: Length mismatch: Expected axis has 19 elements, new values have 18 elements

In [6]:
connection_string = 'postgresql://caiop:asdf@localhost:5432/astro'
engine = create_engine(connection_string)

df_entry.to_sql('entry_data', con=engine, if_exists='replace', index=False)
df_aggregate.to_sql('aggregate_data', con=engine, if_exists='replace', index=False)

390